WindowsFormsApp3/Data/TripsSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="trips">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trip" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tripName" type="xs:string"></xs:element>
              <xs:element name="locations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="location" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="locationName" type="xs:string"></xs:element>
                          <xs:element name="address" type="xs:string"></xs:element>
                          <xs:element name="locationCode" type="xs:string"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="distance" type="xs:string"></xs:element>
              <xs:element name="description" type="xs:string"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

